@import "tailwindcss";

@theme {
	/* Colors */
	--color-wise-green: #9fe870;
	--color-wise-dark: #163300;
	--color-wise-dark-hover: #214d00;
	--color-wise-bg-light: #f2f5f7;
    --color-wise-blue: #00b9ff;

	--font-body: "Inter", sans-serif;
	--font-display: "Inter", sans-serif;
}

@layer base {
    body {
        font-family: var(--font-body);
        color: var(--color-wise-dark);
        -webkit-font-smoothing: antialiased;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-display);
        font-weight: 700;
        letter-spacing: -0.02em;
    }
}
